@use './styles';
.employees{
  @include styles.center-elements();
  flex-direction: column;
  padding: 1rem;
  
}

.employee{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #E0E0E0;
  width: 20rem;
  &__nameGroup{
    @include styles.center-elements();
    justify-content: flex-start;
    gap: 10px;
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 10rem;
  }
  &__name{
    font-size: styles.$mobile-font-size;
    font-weight: 500;
  }
  &__sectorGroup{
    @include styles.center-elements();
    width: 10rem;
    justify-content: space-between;
  }
  &__sector{
    font-size: styles.$mobile-font-size;
    font-weight: 500;
  }
  &__iconGroup{
    display: flex;
    gap: 1rem;
  }
}
.employee__dark{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem;
  background-color: #C8C8C8;
  width: 20rem;
}
